################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################
*.so
*.dll
*.CopyComplete
*.exe
*.dylib
*.cache
*.txt
*.pdb
*.lref
*.baml
*.json
*.cache
*.g.cs
*.sqlite
*.sqlite-journal
*.resources
*.suo
*i.cache
slnx.sqlite

[Bb]in/
[Oo]bj/
[Db]ebug/
[Rr]elease/
[Rr]eleases/
x86/
x64/