################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/LierdaTestStudio/LierdaTestStudioV2/.vs/LierdaTestStudio/v16
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.Views/obj/Debug/netcoreapp3.1/GreenWhale.Extensions.Views.pdb
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.Views/obj/Debug/netcoreapp3.1/GreenWhale.Extensions.Views.dll
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.Views/obj/Debug/netcoreapp3.1/GreenWhale.Extensions.Views.csproj.FileListAbsolute.txt
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.Views/obj/Debug/netcoreapp3.1/GreenWhale.Extensions.Views.csproj.CoreCompileInputs.cache
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.Views/bin/Debug/netcoreapp3.1/GreenWhale.Extensions.Views.pdb
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.Views/bin/Debug/netcoreapp3.1/GreenWhale.Extensions.Views.dll
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.Views/bin/Debug/netcoreapp3.1/GreenWhale.Extensions.Views.deps.json
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/obj/Release/netcoreapp3.1/Views/ScanPanelView.g.cs
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/obj/Release/netcoreapp3.1/Views/ResourceDefineView.g.cs
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/obj/Release/netcoreapp3.1/Views/FactoryProduceView.g.cs
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/obj/Release/netcoreapp3.1/Views/AddResourceDefineView.g.cs
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/obj/Release/netcoreapp3.1/GreenWhale.Extensions.TestStudio_MarkupCompile.lref
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/obj/Release/netcoreapp3.1/GreenWhale.Extensions.TestStudio_MarkupCompile.cache
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/obj/Release/netcoreapp3.1/GreenWhale.Extensions.TestStudio.assets.cache
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/obj/Debug/netcoreapp3.1/zh-cn/GreenWhale.Extensions.TestStudio.resources.dll
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/obj/Debug/netcoreapp3.1/Views/TestResultView.baml
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/obj/Debug/netcoreapp3.1/Views/SerialPortView.baml
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/obj/Debug/netcoreapp3.1/Views/ScanPanelView.g.cs
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/obj/Debug/netcoreapp3.1/Views/ScanPanelView.baml
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/obj/Debug/netcoreapp3.1/Views/ResourceDefineView.g.cs
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/obj/Debug/netcoreapp3.1/Views/ResourceDefineView.baml
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/obj/Debug/netcoreapp3.1/Views/ProtocalGenerator.baml
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/obj/Debug/netcoreapp3.1/Views/FactoryProduceView.g.cs
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/obj/Debug/netcoreapp3.1/Views/FactoryProduceView.baml
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/obj/Debug/netcoreapp3.1/Views/AddResourceDefineView.g.cs
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/obj/Debug/netcoreapp3.1/Views/AddResourceDefineView.baml
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/bin/Debug/netcoreapp3.1/zh-cn/GreenWhale.Extensions.TestStudio.resources.dll
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/bin/Debug/netcoreapp3.1/GreenWhale.RunTime.Scripts.pdb
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/bin/Debug/netcoreapp3.1/GreenWhale.RunTime.Scripts.dll
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/bin/Debug/netcoreapp3.1/GreenWhale.Extensions.Views.pdb
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/bin/Debug/netcoreapp3.1/GreenWhale.Extensions.Views.dll
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/bin/Debug/netcoreapp3.1/GreenWhale.Extensions.TestStudio.pdb
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/bin/Debug/netcoreapp3.1/GreenWhale.Extensions.TestStudio.dll
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/bin/Debug/netcoreapp3.1/GreenWhale.Extensions.TestStudio.deps.json
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/bin/Debug/netcoreapp3.1/Examples/ValveTest.cs
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/bin/Debug/netcoreapp3.1/Examples/ScriptRun.cs
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/obj/Debug/netcoreapp3.1/GreenWhale.Extensions.TestStudio_MarkupCompile.lref
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/obj/Debug/netcoreapp3.1/GreenWhale.Extensions.TestStudio_MarkupCompile.i.lref
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/obj/Debug/netcoreapp3.1/GreenWhale.Extensions.TestStudio_MarkupCompile.cache
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/obj/Debug/netcoreapp3.1/GreenWhale.Extensions.TestStudio.Resource.zh-cn.resources
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/obj/Debug/netcoreapp3.1/GreenWhale.Extensions.TestStudio.Resource.resources
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/obj/Debug/netcoreapp3.1/GreenWhale.Extensions.TestStudio.pdb
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/obj/Debug/netcoreapp3.1/GreenWhale.Extensions.TestStudio.g.resources
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/obj/Debug/netcoreapp3.1/GreenWhale.Extensions.TestStudio.dll
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/obj/Debug/netcoreapp3.1/GreenWhale.Extensions.TestStudio.csproj.GenerateResource.cache
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/obj/Debug/netcoreapp3.1/GreenWhale.Extensions.TestStudio.csproj.FileListAbsolute.txt
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/obj/Debug/netcoreapp3.1/GreenWhale.Extensions.TestStudio.csproj.CoreCompileInputs.cache
/LierdaTestStudio/LierdaTestStudioV2/GreenWhale.Extensions.TestTools2/obj/Debug/netcoreapp3.1/GreenWhale.Extensions.TestStudio.csproj.CopyComplete
